{% extends "layout.html.twig" %}

{% block content %}
    <h1>Passer en Admin : {{ user.nom ~ ' ' ~ user.prenom }}</h1>
    <h4>Veuillez entrer le code secret afin de confirmer l'action :</h4>

    {{ form(formAdmin) }}

{% endblock %}